In [225]:
import os
import pandas as pd
import numpy as np

In [226]:
csvpath = 'Resources/budget_data.csv'
data_df=pd.read_csv(csvpath,parse_dates=True)
data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [227]:
total_months = data_df['Date'].count()
print(total_months)

86

In [228]:
profitLosses_total = data_df['Profit/Losses'].sum()
profitLosses_total

38382578

In [229]:
data_df=data_df.set_index("Date")
data_df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [230]:
greatest_increase = data_df.diff().max()
greatest_increase

Profit/Losses    1926159.0
dtype: float64

In [231]:
greatest_decrease = data_df.diff().min()
greatest_decrease

Profit/Losses   -2196167.0
dtype: float64

In [232]:
data_df["Difference"]=data_df.diff()
data_df.head()

          Profit/Losses  Difference
Date
Jan-2010         867884         NaN
Feb-2010         984655    116771.0
Mar-2010         322013   -662642.0
Apr-2010         -69417   -391430.0
May-2010         310503    379920.0

In [233]:
great_incdf = data_df.loc[data_df["Difference"].isin(greatest_increase),["Difference"]]
great_incdf

          Difference
Date
Feb-2012   1926159.0

In [234]:
great_dec = data_df.loc[data_df["Difference"].isin(greatest_decrease),["Difference"]]
great_dec

          Difference
Date
Sep-2013  -2196167.0

In [235]:
print("Financial Analysis")
print('---------------------------------------------')
print(f'Total Months: {total_months}')
print(f'Total: ${profitLosses_total}')
print(f'Greatest Increase in Profits: {great_incdf.index[0]} (${great_incdf.iloc[0]["Difference"]})')
print(f'Greatest Decrease in Profits: {great_dec.index[0]} (${great_dec.iloc[0]["Difference"]})')

Financial Analysis
---------------------------------------------
Total Months: 86
Total: $38382578
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [237]:
#filepath to write
outFile = os.path.join('Resources', 'outputPanda.txt')
with open(outFile,"w") as txtfile:
    print("Financial Analysis",file=txtfile)
    print('---------------------------------------------',file=txtfile)
    print(f'Total Months: {total_months}',file=txtfile)
    print(f'Total: ${profitLosses_total}',file=txtfile)
    print(f'Greatest Increase in Profits: {great_incdf.index[0]} (${great_incdf.iloc[0]["Difference"]})',file=txtfile)
    print(f'Greatest Decrease in Profits: {great_dec.index[0]} (${great_dec.iloc[0]["Difference"]})',file=txtfile)